html{
    background-color: #0a061e;
}
h1 {
    font-family: lato,sans-serif;
    font-weight: bold;
    color: white;
    
}
.light_button_big {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 15px;
    line-height: 15px;
    color: #FFFFFF;
    font-family: lato,sans-serif;
    font-weight: bold;
    width: 200px;
    font-size: 21px;
    font-weight: 200;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: solid #84FFFD 3px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .light_button_big:hover {
    background: rgba(151, 252, 236, 0.5);
    border: solid #84FFFD 3px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }